@font-face {
  font-family: SourceCodePro;
  src: url(fonts/SourceCodePro/Regular.ttf);
}

@font-face {
  font-family: SourceCodeProItalic;
  src: url(fonts/SourceCodePro/Italic.ttf);
}

@font-face {
  font-family: SourceCodeProBold;
  src: url(fonts/SourceCodePro/Bold.ttf);
}

@font-face {
  font-family: SourceCodeProBoldItalic;
  src: url(fonts/SourceCodePro/BoldItalic.ttf);
}

@font-face {
  font-family: Pacifico;
  src: url(fonts/Pacifico.ttf);
}

i {
  font-family: SourceCodeProItalic;
}

b {
  font-family: SourceCodeProBold;
}

b i,
i b {
  font-family: SourceCodeProBoldItalic;
}

handwriting {
  font-family: Pacifico;
}

version {
  position: fixed;
  top: calc(0.5vw - 3px);
  left: 0.5vw;
}

body {
  margin: 0.5vw;
  font-size: 1.2vw;
  text-shadow: 0 0 5px #fff;
  background-size: cover;
  background-color: rgb(0, 0, 5);
  font-family: SourceCodePro;
  color: #fff;
}

header {
  position: fixed;
  left: -1px;
  top: -1px;
  width: 100vw;
  backdrop-filter: blur(10px);
  border: 1px solid #fff;
}

#grid-container {
  margin-top: calc(3vw + 0.5vw);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5vw;
}

#grid-item {
  font-size: 2.1vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 10);
  -webkit-text-stroke: #000 1px;
  cursor: pointer;
  text-align: center;
  border-radius: 1vw;
  border: 1px solid #fff;
  aspect-ratio: 1;
  transition: background-size 0.1s, border-radius 0.1s;
}

.download {
  font-family: SourceCodePro;
  font-size: 1.2vw;
  padding: 0;
  z-index: 999;
  position: relative;
  background: 0;
  color: #00f;
  text-shadow: #00f 0 0 5px;
  border: 0;
  transition: color 0.1s, text-shadow 0.1s;
  cursor: pointer;
  text-align: right;
}

.download:hover {
  color: #f0f;
  text-shadow: #f0f 0 0 5px;
}