@font-face {
  font-family: SourceCodePro;
  src: url(SourceCodePro/Regular.ttf);
}

@font-face {
  font-family: SourceCodeProItalic;
  src: url(SourceCodePro/Italic.ttf);
}

@font-face {
  font-family: SourceCodeProBold;
  src: url(SourceCodePro/Bold.ttf);
}

@font-face {
  font-family: SourceCodeProBoldItalic;
  src: url(SourceCodePro/BoldItalic.ttf);
}

@font-face {
  font-family: Pacifico;
  src: url(Pacifico.ttf);
}

@font-face {
  font-family: MaterialSymbolsOutlined;
  font-style: normal;
  font-weight: 400;
  src: url(icons.woff2) format('woff2');
}

i {
  font-family: SourceCodeProItalic;
}

b {
  font-family: SourceCodeProBold;
}

b i,
i b {
  font-family: SourceCodeProBoldItalic;
}

h {
  font-family: Pacifico;
}

body {
  background-color: #000;
  font-family: SourceCodePro;
  color: #fff;
}

.icons {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

a {
  color: #00f;
  transition: color 0.1s;
  cursor: pointer;
}

a:hover {
  color: #f0f;
}

button {
  font-family: SourceCodePro;
  border-radius: 0.5vw;
  color: #fff;
  background-color: #111;
  cursor: pointer;
}